<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - Manage Catalog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<style>
    table, th, td {
      border:1px solid black;
    }
</style>
<body>
  <div>
    <table class="table table-bordered table-striped table-hover table-condensed  text-center" id="DyanmicTable">
      <thead>
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Sales</th>
          <th>Thumbnail</th>
          <th>Type</th>
          <th>Creator</th>
          <th class="text-center">
              <button id="addNewRow" class="btn btn-primary btn-sm">Add New Row</button>
            </th>
        </tr>
      </thead>
      <tbody>
        {% for asset in assets %}
        <tr>
            <th>{{asset['id']}}</th>
            <th>{{asset['name']}}</th>
            <th>{{asset['description']}}</th>
            <th>{{asset['sales']}}</th>
            <th>{{asset['thumbnail']}}</th>
            <th>{{asset['type']}}</th>
            <th>{{asset['creator']}}</th>
            
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
      <br style="height: 30px">
      <h1>hi</h1>
          <!--JS Files-->
      <script  src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
      <script src="{{url_for('static', filename='scripts/boostable.min.js')}}"></script>
      <script>
        $('#DyanmicTable').SetEditable({ $addButton: $('#addNewRow')});
      </script>
</body>
</html>